@use 'reset';
@use 'vars';

@font-face {
  font-family: 'sf_regular';
  src: url('../assets/fonts/sfuidisplay-regular-webfont.woff2') format('woff2'),
       url('../assets/fonts/sfuidisplay-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_black';
  src: url('../assets/fonts/sfuidisplay-black-webfont.woff2') format('woff2'),
       url('../assets/fonts/sfuidisplay-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sf_light';
  src: url('../assets/fonts/sfuidisplay-light-webfont.woff2') format('woff2'),
       url('../assets/fonts/sfuidisplay-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'sf_regular', sans-serif; 
  font-size: 17px;
}
