.app {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.game-state,
.state-navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: yellow;
}
.state-navigation {
  top: initial;
  bottom: 0;
}

.step {
  width: 100%;
  height: 100vh;
  padding: 1rem;
}

.game-logo {
  max-width: 100px;
}
.game-title {
  font-size: 1.5rem;
}

.home {
  background-color: red;
}

.mode {
  background-color: yellowgreen;
}

.first-player {
  background-color: lightblue;
}

.game {
  background-color: lightseagreen;
}
