:root {
  --main-color:deeppink;
  --light-color:floralWhite;
  --dark-color:rgb(42, 42, 40);
}
html {
  line-height: 1.5;
  scroll-behavior: smooth;
}
body {
  // background-color: darkslategrey;
  background: radial-gradient(circle,#206986 0,#392b60 100%);
  color:var(--light-color);
  overflow: hidden;
}

/* Typo */
h1, h2, h3, h4, h5, h6, p, pre, ul, ol, dl, blockquote {
  margin: 0.67em 0;
}
ol, ul, dl {
  padding-left: 0em;
  list-style-type: none;
}
blockquote {
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
}


/* Basics */
::selection {
  background-color: var(--main-color);
  color:var(--light-color);
}
a {
  color:inherit;
  /*text-decoration: none;*/
}
a:hover{
  background-color: var(--dark-color);
  color:var(--light-color);
}
input, button, textarea, select {
  outline: none;
  /* border:solid 1px var(--dark-color); */
}
/* input:invalid {
  border-color:red;
} */

/* Tables */
th, td {
  border:solid 1px var(--dark-color);
  padding:.5em 1em;
}
th {
  background-color: var(--main-color);
  color: var(--light-color);
}


/* Design */
pre {
  background-color: var(--dark-color);
  color:limegreen;
  padding:1em;
}
pre ::selection {
  background-color: black;
}
header {
  background-color: var(--main-color);
  color:white;
}

/* Forms */
input, button, textarea, select {
  padding:.5rem 1rem;
}

html, body, #root, .app {
  height: 100%;
}

.app {
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  user-select: none;
  position: relative;
}

.game-state,
.state-navigation {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  background-color: darkslateblue;
}
.state-navigation {
  top: initial;
  bottom: 0;
}

.step {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
}
.prev-step,
.next-step {
  img {
    width: 2rem;
  }
}

.game-title {
  font-family: 'sf_black', sans-serif; 
  font-size: 1.5rem;
}
.categorie-title {
  font-family: 'sf_light', sans-serif; 
  font-size: 1.3rem;
  padding-top: 1rem;
}

.credit-zone {
  position: absolute;
  bottom: 0;
  .info-credit {
    font-size: .8rem;
  }
}

.home {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 6rem;
  .settings-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    img {
      transition: 1s;
      width: 2rem;
    }
    &.open img {
      transform: rotate(0);
      transform: rotate(90deg);
    }
  }
  .game-logo {
    max-width: 100%;
    margin: 0 auto;
    // filter: drop-shadow(0 0 50px white);
  }
}

.settings {
  top: 110%;
  left: .5rem;
  &.open {
    top: .5rem;
  }
  transition: top .3s ease;
  border-radius: 1rem;
  box-shadow: 0 0 .5rem rgba(0,0,0,.5);
  padding: 2rem;
  position: absolute;
  z-index: 999;
  width: calc(100% - 1rem);
  height: calc(100% - 1rem);
  background: radial-gradient(circle,#206986 0,#392b60 100%);
  .option-group {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  .close-settings-btn {
    position: absolute;
    top: 0;
    right: .4rem;
    padding: 1rem;
    font-size: 1.5rem;
  }
  .bomb-setting-btn {
    border: solid 2px white;
    border-radius: .5rem;
  }
  .active   {
    border: solid 2px black;
    background-color: black;
    color: yellow;
  }
}

.mode {
  text-align: center;
  .rounds {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-bottom: 2rem;
    .round-btn {
      border: solid 2px white;
      border-radius: .5rem;
    }
    .active   {
      border: solid 2px black;
      background-color: black;
      color: yellow;
    }
  }
}

.first-player {
  text-align: center;
  .first-player-name {
    font-weight: bold;
    color: yellow;
  }
  .play-btn {
    font-family: 'sf_black', sans-serif;
    background-color: black;
    padding: 2rem;
    border-radius: .5rem;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.game {
  text-align: center;
}

.rules {
  background-color: rgba(0,0,0,.2);
  border-radius: .5rem;
  padding: 2rem;
  text-align: left;
  .categorie-title {
    padding: 0;
    margin: 0;
  }
  p {
    font-size:.8rem;
  }
}
