.bomb {
  @keyframes rotation {
    0%   {transform: rotate(0deg) scale(1)}
    50%   {transform: rotate(180deg) scale(1.5)}
    100% {transform: rotate(360deg) scale(1)}
  }
  .game-logo {
    max-width: 200px;
    animation: rotation 6s steps(20, end) infinite;
  }
  .notice {
    background-color: black;
    padding: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    border-radius: 1rem;
    .rule {
      font-size: 1.5rem;
      margin: 0;
    }
    .question {
      margin: 0;
      font-family: 'sf_black', sans-serif;
      font-size: 2rem;
      color:yellow;
    }
  }
  .boom-screen {
    background-color: black;
    padding: 2rem;
    position: absolute;
    top: 4rem;
    bottom: 2rem;
    left: 2rem;
    right: 2rem;
    border-radius: 1rem;
    overflow: auto;
  }
}