.player-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: .5rem;
  .player-name {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .player-name-text {
      word-break: break-all;
      padding: .5rem;
    }
    .player-name-button-remove {
      padding: .5rem;
    }
  }
}