.add-player {
  border-radius: 1rem;
  overflow: hidden;
  background-color: rgba(0,0,0,.5);
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  .add-player-legend {
    padding: 0 1rem;
    width: 100%;
  }
  .player-name-input,
  .player-name-add-button {
    padding: 1rem;
  }
  .player-name-input {
    background-color: white;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
  }
  .player-name-add-button {
    background-color: black;
    color: yellow;
    width:4rem;
    flex-shrink: 0;
  }
  .next-step {
    display: flex;
    align-items: center;
    width:4rem;
    flex-shrink: 0;
    background-color: green;
  }
}